<html>
  <head>
    <title><%- categoryName %></title>
  </head>
  <body>
    <h1>Inventory Application</h1>
    <h2><%- categoryName %></h2>
    <ul>
      <% items.forEach((item) => { %>
      <li><%- include('item', { item: item }) %></li>
      <% }); %>
    </ul>
    <a href="/">Go back</a>
  </body>
</html>
