<html>
  <head>
    <title>New Category</title>
  </head>
  <body>
    <header>
      <h1>New Category</h1>
    </header>
    <form method="POST" action="/create/category">
      <label for="name">
        Category Name: 
        <input type="text" id="name" name="name" required>
      </label>
      <input type="submit" value="Submit">
   </form>
  </body>
</html>