<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <h1>Inventory Application</h1>
    <ul>
      <% categories.forEach((category) => { %>
        <li>
          <a href="/category/<%= category.id %>">
            <h2><%= category.name %></h2>
          </a>
          <form action="/delete/category/<%= category.id %>" method="POST">
            <button name="submit">Delete category</button>
          </form>
        </li>
      <% }); %>
    </ul>
    <a href="/create/category">New Category</a>
  </body>
</html>