<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <h1>Inventory Application</h1>
    <ul>
      <% categories.forEach((category) => { %>
        <li>
          <a href="/<%= category.name %>">
            <h2><%= category.name %></h2>
          </a>
        </li>
      <% }); %>
    </ul>
    <a href="/create/category">New Category</a>
  </body>
</html>